@import url(https://db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=Lulo+Clean+W01+One+Bold);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lulo Clean W01 One Bold";

}

body {
    background: rgb(19, 19, 44);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgba(134, 134, 250, 0.966);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    background-color: transparent;
    max-width: 650px;
}

.home-content h1 {
    font-size: 30px;
    font-weight: 500;
}

.home-content h3 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(240, 60, 90);
    margin: 10px;
}

.home-content .btn-box {
    width: 344px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: white;
    border: 2px solid rgb(1, 184, 245);
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px;
    color: rgb(19, 19, 44);
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: white;
}


.contact a {
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin: 15px;
}


.github a {
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin-left: 85px;
    margin-top: 25px;
}
